<div class="container">
  <div *ngIf="isSignup" class="header-container">
    <h3 class="header-text">Create account</h3>
    <button mat-stroked-button (click)="changeFormType('login')">
      Returning user?
    </button>
  </div>

  <div *ngIf="isLogin" class="header-container">
    <h3 class="header-text">Sign in</h3>
    <button size="small" mat-stroked-button (click)="changeFormType('signup')">
      New user?
    </button>
  </div>

  <div *ngIf="isPasswordReset" class="header-container">
    <h3 class="header-text">Reset password</h3>
    <button size="small" mat-stroked-button (click)="changeFormType('login')">
      Back
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field [color]="email.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="E-mail"
        autocomplete="off"
      />
      <mat-error *ngIf="isEmailInvalid">
        {{ getErrorMessage('email') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="email.valid && 'accent'" *ngIf="!isPasswordReset">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />
      <mat-error *ngIf="isPasswordInvalid">
        {{ getErrorMessage('password') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="passwordDoesMatch ? 'accent' : 'warn'" *ngIf="isSignup">
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm password"
        autocomplete="off"
      />
      <mat-error *ngIf="isPasswordConfirmInvalid">
        {{ getErrorMessage('passwordConfirm') }}
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <button
      *ngIf="isPasswordReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading">
      Send Reset Email
    </button>

    <button 
      mat-raised-button
      *ngIf="!isPasswordReset"
      color="primary"
      type="submit"
      [disabled]="form.pristine || loading">
      Submit
    </button>
  </form>

  <button
    mat-button
    *ngIf="isLogin && !isPasswordReset"
    (click)="changeFormType('reset')">
    Forgot password?
  </button>
</div>
