@import '../../../styles/variables.scss';

.item {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__show-expense-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 5px;
  }

  &__line:first-child {
    margin-bottom: 10px;
  }

  &__date, &__value {
    display: inline-block;
    width: 100px;
  }

  &__value {
    display: inline-block;
    width: 50px;
  }

  &__modify-form {
    width: 100%;
    padding: 0px 0px 0px 5px;
  }
}

::ng-deep .mat-list-item {
  height: auto !important;
  width: 90%;
  max-width: 1000px;
  border-bottom: 1px solid $primary-color;

  &:nth-child(odd) {
    background-color: $primary-color-100;
  }
}