<h2>List expenses</h2>
<filters-form [filters]="initialFilters" (filtersSet)="onFiltersSet($event)"></filters-form>
<mat-list>
  <mat-list-item *ngFor="let expense of expenses$ | async; let i = index;">
    <div class="item">
      <div class="item__show-expense-container">
        <div class="item__description">
          <div class="item__line">
            <span class="item__date">{{ expense.date.toDate() | date:"dd-MM-yyyy" }}</span>
            <strong class="item__value">{{ expense.value }}</strong>
            <span class="item__title">{{ expense.title }}</span>
          </div> 
          <div class="item__line">Category: {{ expense.category }}</div>
        </div>
        <div class="item__buttons-container">
          <button mat-icon-button (click)="toggleForm(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(expense.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
      <div class="item__modify-form" *ngIf="shouldShowForm(i)">
        <app-modify-expense-form [expense]="expense" (cancelFormChanges)="cancel()" (expenseUpdated)="handleExpenseUpdate()"></app-modify-expense-form>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<div class="sum-container">
  <p>Sum of displayed expenses: <span class="sum">{{sum}}</span></p>
</div>