<nav class="vertical-menu">
  <div class="menu-item">
    <a routerLink="/welcome" 
      matTooltip="Home"
      matTooltipPosition="right">
      <mat-icon class="material-icons-outlined">home</mat-icon>
    </a>
  </div>
  <div class="menu-item">
    <a routerLink="/expenses/add"
      matTooltip="Add expense"
      matTooltipPosition="right">
      <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
    </a>
  </div>
  <div class="menu-item">
    <a routerLink="/expenses"
      matTooltip="Display expenses"
      matTooltipPosition="right">
      <mat-icon class="material-icons-outlined">request_quote</mat-icon>
    </a>
  </div>
  <div class="menu-item">
    <a routerLink="/dashboard"
      matTooltip="Dashboard"
      matTooltipPosition="right">
      <mat-icon class="material-icons-outlined">timeline</mat-icon>
    </a>
  </div>
</nav>